@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('./font/ChunkFive-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('./font/ptsans-regular-webfont.woff2') format('woff2'),
    url('./font/ptsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}